*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:rgb(249, 225, 229);
  /* padding: 20px 30px; */
}
.App{
  /* padding: 30px 70px; */
}

.left{
  width: 50%;
  height: 100vh;
}
.left img{
  width: 100%;
  height: inherit;
}
.container{
  display: flex;
  /* padding: 30px 70px; */
}
.right{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  align-items: flex-start;
  /* background-color: aqua; */
  padding:30px 70px ;
}
.title{ 
width: 20px;
display: flex;
position: relative;
top: 30px;
left: 70px;
align-items: center;
}
.title p{
  letter-spacing: 6px;
}
.right h1{
  font-weight: 500;
  font-size: 60px;
  align-items: center;
  max-width: 70%;
  letter-spacing: 10px;
}

.right h1 span{
  color: lightpink;
  font-weight: 300;
}
.right p{
  font-size: 15px;
  color: rgb(156, 90, 101);
}
.email{
  border-color: rgb(156, 90, 101);
  border-style: solid;
  border: 1px 0px 1px 1px;
  background-color: transparent;
  border-radius: 20px;
  padding-left: 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
 height: 50px;
 box-sizing: border-box;
}
.email input{
  background-color: inherit;
  border: none;
  outline: none; 
  font-size: 15px;
  color:  rgb(156, 90, 101)
}

/* .email span{
  background-color:rgb(156, 90, 101);
  width: 20%;
  border-radius:inherit ;
  cursor: pointer;
} */

.btn{
background-color: inherit;
border-radius: 17px;
border: none;
outline: none;
padding: 5px;
cursor: pointer;
background-color: rgb(240, 112, 134);
height:46px;
width: 20%;
font-size: 20px;
color: white;

}
.btn :hover{
  background-color: rgb(80, 15, 26);
  transition: margin-right 2s;
  color: aqua;
  
}

@media screen and (max-width:800px){
  .App{
      flex-direction: column;
  }
  .right{
      width: 100%;
  height: 80vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  align-items: center;
  
  /* background-color: aqua; */
  padding: 30px 70px;
  }
  .right h1{
      font-size: 30px;
      width: 100%;
  }
  
  .left{
      width: inherit;
  }
  .email{
      min-width: 70vw;
  }
  .container{
      width: 100%;
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
  }
  .title{
      margin-bottom: 50px;
      position: relative;
    top: 22px;
    left: 40px;
  }
  .header{
      
      display: flex;
      justify-content: center;
      width: 100%;
  }
  
}